<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Meds</title>
</head>
<body>
    <div class="container-meds">
       <h1>Add A Presciption</h1>
       <form action="/meds" method="POST">
    <input type="text" name="medName" placeholder="Medication Name"><br>
    <input type="number" name="dosage" placeholder="Medication doseage"><br>
    <input type="number" name="tpd" placeholder="Taken times per day"><br>
    <div>
    Morning: <input type="checkbox" name="morn">
    Noon: <input type="checkbox" name="noon">
    Night: <input type="checkbox" name="night"><br>
    </div>
    <textarea name="use" placeholder=""cols="30" rows="10"></textarea><br>
    <input type="text" name="docFirstName" placeholder="Prescribing doctor's first name">
    <input type="text" name="docLastName" placeholder="Prescribing doctor's last name"><br>
    <input type="text" name="docStreet" placeholder="Doctor's street address"><br>
    <input type="text" name="docTown" placeholder="Doctor's Town"><br>
    <input type="text" name="docState" placeholder="State">
    <input type="number" name="docZip" placeholder="Zipcode"><br>
    Prescribing doctor's phone number: <input type="tel" name="docPhone"><br>
    <input type="submit" value="Add Medication">
    </form>
    </div>
</body>
</html>