<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Add Meds</title>
</head>
<body class="new">
    <div class="container-meds">
       <h1>Add A Presciption</h1>
       <form action="/meds" method="POST">
    <input class="new-input" type="text" name="medName" placeholder="Medication Name"><br>
    <input class="new-input" type="number" name="dosage" placeholder="Medication doseage">
    <select class="drop-down" name="measure">
        <option value="mcg">mcg</option>
        <option value="mg">mg</option>
        <option value="mL">mL</option>
        <option value="g">g</option>
        <option value="tab">tab</option>
        <option value="tsp">tsp</option>
        <option value="tbsp">tbsp</option>
    </select>
    <input class="new-input" type="number" name="tpd" placeholder="Taken times per day"><br>
    <div>
    Morning: <input class="check" type="checkbox" name="morn">
    Noon: <input class="check" type="checkbox" name="noon">
    Night: <input class="check" type="checkbox" name="night"><br>
    </div>
    <input class="text-area" type="text" name="use" placeholder="Used to treat"><br>
    <input class="new-input doc-name" type="text" name="docFirstName" placeholder="Prescribing doctor's first name">
    <input class="new-input doc-name"type="text" name="docLastName" placeholder="Prescribing doctor's last name"><br>
    <input class="new-input" type="text" name="docOffice" placeholder="Practice Name"><br>
    <input class="new-input first" type="text" name="docStreet" placeholder="Doctor's street address">
    <input class="new-input" type="text" name="docTown" placeholder="Doctor's Town"><br>
    <input class="first new-input2" type="text" name="docState" placeholder="State">
    <input class="new-input2" type="number" name="docZip" placeholder="Zipcode"><br>
    <input class="new-input2" type="tel" name="docPhone" placeholder="Doctor's phone number "><br>
    <div class="new-nav">
    <input class="add-new" type="submit" value="Add Medication">
    </form>
    <form class= "new-back" action="/meds" method = "get">
        <Input type="Submit" value="Go back to meds"></Input>
    </form> 
    </div>
</div>
</body>
</html>