<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEEN Auth Starter</title>
  </head>

  <body>
    <nav>
        <form class="home" action="/" method="get">
            <Input type="Submit" value="Home"></Input>
        </form>
        <form class= "signup" action="/users/new" method = "get">
            <Input type="Submit" value="Signup"></Input>
        </form> 
     </nav>
    <h1>Login</h1>
    <form action="/sessions" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" /><br>
        
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" /><br>

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />

      <input type="submit" value="Login" />
    </form>
  </body>
</html>