<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>

<body class="register">

    <nav>
        <% if(currentUser) { %>
        <form class="home" action="/" method="get">
            <Input type="Submit" value="Home"></Input>
        </form>
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" />
        </form>
        <% } else { %>
        <form class="home" action="/" method="get">
            <Input type="Submit" value="Home"></Input>
        </form>
        <form class="login" action="/sessions/new" method="get">
            <Input type="Submit" value="Login"></Input>
        </form>
        <% } %>
    </nav>
    <h1>Register</h1>
    <form action="/users" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" /><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" /><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" /><br>

        <input type="submit" value="Register" />
    </form>
</body>

</html>